[Unit]
Description=Firewalld customized after rules
After=NetworkManager.service firewalld.service libvirtd.service

[Service]
ExecStart=/usr/local/sbin/firewalld-vnics_trusted.sh
ExecReload=/usr/local/sbin/firewalld-vnics_trusted.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
TriggeredBy=NetworkManager.service

# /usr/lib/systemd/system/
